[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bayesAB"]
	path = bayesAB
	url = https://github.com/frankportman/bayesab
	shallow = true
	registered = true
